*{
    margin: 0;
    padding: 0;
}
section{
    padding: 80px 0 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    height: 50px;
    width: 150px;
}
#buttonContainer{
    gap: 20px;
    display: flex;
}